<header class="topbar">
  NRIpsum
</header>

<main class="content">
  <div class="nripsum">
    <% @sentences.in_groups(10).each do |paragraph| %>
      <section class="chunk">
      <p>
        <%= paragraph.join(" ") %>
      </p>
    </section>
    <% end %>
  </div>

  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul>
        <li class="nav-link">
          <%= link_to "Add More NRIpsum", new_sentence_url %>
        </li>
        <li class="nav-link">
          <a data-toggle-styles="true" href="">
            Toggle Styles
          </a>
        </li>
        <li class="nav link>">
          <a class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target=".nripsum">
            Copy to clipboard
        </a>
        </li>
      </ul>
    </nav>
  </div>
</main>
