<h1>NRIpsum</h1>
<div>
  <ul>
  <% @sentences.each do |sentence| %>
  <li><%= sentence.content %></li>
  <%= link_to "Delete", sentence, method: :delete %>
  <% end %>
  </ul>
</div>

<%= link_to "Add Ipsum", new_sentence_url %>
