// Place all the styles related to the Sentences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-steel: #A7A4B0;
$color-gray: #ACACAB;
$color-dark-brown: #1F1114;
$color-light-brown: #5D5351;
$color-peach: #F3C8AB;

.topbar {
  background-image: url(https://s3-us-west-2.amazonaws.com/css-interview/lady.jpg);
  height: 120px;
  font-size: 24px;
  font-weight: bold;
  line-height: 120px;
  padding: 0px 300px;
  text-shadow: #ccc 0 0 5px;
  border-bottom: 1px solid $color-steel;
}

.content {
  display: flex;
}

.nripsum {
  background-color: #fff;
  width: 80%;
  padding: 0px 12px;
}

.chunk {
  padding: 8px 0px;
}

.sidebar {
  background-color: $color-gray;
  width: 20%;
}

.sidebar-nav {
  padding: 20px;
}

.nav-link {
  font-weight: bold;
  padding-bottom: 10px;
}

.nav-link a {
  text-decoration: none;
}

.nav-link a:link {
  color: $color-dark-brown;
}

.nav-link a:visited {
  color: $color-dark-brown;
}

.section-header {
  font-size: 20px;
  padding: 10px 10px;
}

.ipsum-info {
  padding: 10px 10px;
}

.end-punctuation-notice {
  font-style: italic;
  font-size: 10px;
  padding: 10px 10px;
}

.ipsum-link {
  padding: 10px 10px;
}

.ipsum-link a {
  text-decoration: none;
}

.ipsum-form {
  padding: 10px 10px;
}

.ipsum-form input {
  color: $color-peach;
  background-color: $color-dark-brown;
}

#sentence_content {
  background-color: white;
}
